<h1>View Employee Details</h1>
<div>
    <div>
        <label><b>First Name</b></label> {{employee.firstName}}
    </div>
    <div>
        <label><b>last Name</b></label> {{employee.lastName}}
    </div>
    <div>
        <label><b>Email Id</b></label> {{employee.emailId}}
    </div>
    <table id="emptbl">
        <tr>
         
          
          <th>Company Name</th>
          <th>Experience In Years</th>
          <th>Position</th>
  
          
        </tr>
  
        <!-- <tr>
          
          <td>
            <input [(ngModel)]="experience.company_name" name="company_name" class="form-control" type="text" />
          </td>
          <td>
            <input [(ngModel)]="experience.experience_in_years" name="experience_in_years" class="form-control" type="text" />
          </td>
          <td>
            <input [(ngModel)]="experience.position" name="position" class="form-control" type="text" />
          </td>
        </tr>
        <tr>
          <td (click)="addRow(experience)">
            <i class="fa fa-plus fa-2x">Add</i>
          </td>
        </tr> -->
        <ng-container >
          <tr *ngFor="let exp of employee.experience; let i=index;">
           
            <td>
              
              <input [(ngModel)]="exp.companyname" id="companyname"   name="companyname" class="form-control" type="text" />
            </td>
            <td>
              <input [(ngModel)]="exp.experienceinyears" id="experienceinyears" [value]="exp.experienceinyears" name="experienceinyears" class="form-control" type="text" />
            </td>
            <td>
              <input [(ngModel)]="exp.position" name="position" id="position" [value]="exp.position" class="form-control" type="text" />
            </td>
          </tr>
         
   
        </ng-container>
      </table>
</div>